{% extends "base.html" %}

{% block content %}

<div class="container">
    {% if form.errors %}
<p>Tu usuario o contraseña no es valido. Por favor intenta nuevamente.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esta pagina. Para continuar,
    por favor ingresa con una cuenta que tenga permisos suficientes.</p>
    {% else %}
    <p>Por favor logueate para ver esta pagina.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<p><a href="{% url 'password_reset' %}">Perdiste tu contraseña?</a></p>

</div>
{% endblock %}
