

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left"> <a target="_blank" href=https://uniwebsidad.com/libros/django-1-0/capitulo-5/seleccionar-objetos >
            Inspiration 
          </a>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
            href="https://appseed.us">AppSeed</a> 
                      - coded by <a href="https://www.linkedin.com/in/leandro-occhiato/" 
                      target="_blank" rel="noopener noreferrer" >Leandro Occhiato</a>
          </div>
        </div>
    </footer>
